<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3.dtd">

<mapper namespace="cwu.jsj.dao.AdminMapper">
	<!-- 查询订单状态为:1（已提交）且为紧急状态（1）的订单 -->
	<select id="getUrgencyNewOrder" resultType="order">
		SELECT * FROM order_tbl where urgent_status = 1 and order_status = 1
	</select>
	<!-- 查询订单状态为:1（已提交）且为非紧急状态（0）的订单 -->
	<select id="getGeneralNewOrder" resultType="order">
		SELECT * FROM order_tbl where urgent_status = 0 and order_status = 1
	</select>
	<!-- 查询订单状态为:1（已提交）的订单 -->
	<select id="getNewOrder" resultType="order">
		SELECT * FROM order_tbl where order_status = 1
	</select>
	<!-- 查询订单状态为:2（已提交）的订单 -->
	<select id="getPrintingOrder" resultType="order">
		SELECT * FROM order_tbl where order_status = 2
	</select>
	<!-- 查询订单状态为:3（已提交）的订单 -->
	<select id="getFinishedOrder" resultType="order">
		SELECT * FROM order_tbl where order_status = 3
	</select>
	<!-- 查询订单状态为:3（已提交）的订单 -->
	<select id="getAllOrder" resultType="order">
		SELECT * FROM order_tbl where order_status in(2,3)
	</select>
	<!-- 修改订单状态 -->
	<update id="updateOrderStatus" parameterType="order">
		UPDATE order_tbl SET order_status = #{orderStatus} WHERE id = #{id}
	</update>
<!-- 配置文件名称通常与接口名称一致 -->
<!-- 每一个操作的ID值必须和AdminLoginMapper接口中的方法名相对应 -->
</mapper>